@charset "UTF-8";
/*estilo de clases y etiquetas comunes en los archivos .html*/
/*estilo del body para todos los archivos .html*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #dad6d6; }

/*estilo de la clase "encabezado" para todos los archivos .html, incluyendo el menú y el logo*/
.encabezado {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-image: url(../img/libross.jpg); }
  .encabezado .encabezado__logo {
    border-radius: 2%; }
  .encabezado .encabezado__menu {
    width: 40vw;
    height: 8vh;
    margin-top: 13px;
    padding-left: 0px;
    list-style: none;
    font-size: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; }

/*más estilos para el menú del encabezado (header)*/
ul li > a {
  width: 10px;
  position: relative;
  padding: 15px;
  justify-content: left;
  color: whitesmoke;
  text-decoration: none;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 15px; }

/*para establecer el submenú en el header*/
nav ul ul {
  position: absolute;
  display: none;
  padding-left: 5px;
  margin-top: 5px; }

/*características de los elementos del submenú*/
nav ul ul li {
  display: block;
  margin-top: 2px;
  margin-bottom: 5px; }

/*display del submenú del encabezado*/
nav ul li:hover ul {
  display: block; }

/*estilo a la etiqueta h1 para los archivos .html donde sea utilizados*/
h1 {
  color: #145f91;
  text-align: center;
  font-family: sans-serif;
  line-height: 10px;
  padding-top: 0px; }

/*para darle color y modificar la fuente de la clase subtítulo*/
.subtitulo {
  color: #413f3f;
  font-family: 'Times New Roman', Times, serif cursive;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 2px; }

/*estilo a la imagen de la etiqueta h1 en los archivos html donde sea utilizada*/
.imagen {
  display: block;
  margin: auto; }

/*footer*/
#pie {
  background-image: linear-gradient(to right, black, grey);
  height: 40vh; }

/*estilo en el archivo index.html*/
/*estilo en <main> para la clases, etquietas e ID allí incluidos*/
.novedades {
  /*estilo a la clase .novedades del main*/
  margin-top: 10px; }

/*carousel en index.html*/
.carousel-control-prev-icon {
  background-color: black !important; }

.carousel-control-next-icon {
  background-color: black; }

/*estilo al ID de la sección publicaciones*/
#seccionPublicaciones {
  margin-top: 20px; }

/*estilo al títutlo de la sección publicaciones*/
.titulo, .editor .editor__video {
  width: auto;
  height: 10vh;
  padding-top: 10px;
  font-family: inherit;
  text-decoration: underline;
  padding-left: 0%; }

/*estilo al bloque .publicaciones*/
.publicaciones {
  width: 100%;
  /*estilo a las fotos y al texto de cada libro de esta sección*/
  /*imagen del primer libro en #seccionPublicaciones*/
  /*características al nombre del libro1*/ }
  .publicaciones .publicaciones__libroUno {
    color: white; }
  .publicaciones .publicaciones__libroUno--foto1, .publicaciones .publicaciones__libroDos--foto2, .publicaciones .publicaciones__libroTres--foto3, .publicaciones .publicaciones__libroCuatro--foto4, .publicaciones .publicaciones__libroQuinto--foto5, .publicaciones .publicaciones__libroSexto--foto6 {
    width: 15vw;
    height: 45vh;
    margin-left: 20px; }
  .publicaciones .publicaciones__libroUno--nombre1 {
    color: black;
    margin-left: 60px; }
  .publicaciones .publicaciones__libroDos--nombre2 {
    color: black;
    margin-left: 60px; }
  .publicaciones .publicaciones__libroTres--nombre3 {
    color: black;
    margin-left: 60px; }
  .publicaciones .publicaciones__libroCuatro--nombre4 {
    color: black;
    margin-left: 60px; }
  .publicaciones .publicaciones__libroQuinto--nombre5 {
    color: black;
    margin-left: 60px; }
  .publicaciones .publicaciones__libroSexto--nombre6 {
    color: black;
    margin-left: 60px; }

/*estilo para resaltar libros nuevos en sección publicaciones*/
.badge {
  background-color: #145f91 !important; }

/*estilo a la clase "editor"*/
.editor {
  /*para modificar el margen superior del video perteneciente a index.html*/
  border: solid 3px black;
  margin: 10px 70px 10px 70px;
  padding: 20px;
  background-color: #ada5a5;
  /*para centrar el texto de la clase .video*/ }
  .editor .editor__video {
    text-align: center;
    padding: bottom 5px; }
  .editor .editor__video--bordes {
    border-color: black; }

/*estilo en el archivo catalogo.html */
/*variables*/
/*para que la etiqueta h3 de esta sección sea de color rgb(59, 57, 58)*/
.tituloCatalogo {
  color: #3b393a; }

/*para organizar el catálogo a partir de grid*/
.catalogo {
  margin: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: 100px 75px 100px 150px;
  grid-template-rows: 5px 25px 25px 75px;
  background-color: #d1caac;
  gap: 100px;
  align-content: center; }
  .catalogo .catalogo__primeraLinea {
    /*primera línea del catálogo*/
    color: black;
    font-weight: bolder; }
  .catalogo .catalogo__autores {
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    padding-top: auto; }

/* estilo en autores.html */
/*variables*/
/*para aplicar flexbox a autores.html*/
.autores {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  /*para dar estilo a las imágenes y texto de cada autor*/ }
  .autores .autores__bossi {
    /*para modelar la clase .autores__bossi*/
    margin: 10px 10px 10px 10px;
    text-align: justify;
    padding-right: 10px; }
  .autores .autores__bossi--foto {
    border-radius: 2%; }
  .autores .autores__gonzalez {
    /*para modelar la clase .gonzalez*/
    margin: 10px 10px 10px 10px;
    text-align: justify;
    padding-right: 10px; }
  .autores .autores__gonzalez--foto {
    border-radius: 2%; }
  .autores p {
    width: 47%;
    color: black; }

/*más caracaterísticas en el bloque de la clase "autores"*/
.autores .btn {
  text-align: left;
  justify-content: left;
  background-color: royalblue;
  margin-left: 10px;
  margin-top: 5px; }

/*para que los nombres de los autores en la lista de la sección autores.html sean de color negro*/
.autores li h3 {
  color: black;
  /*para brindarle bordes a cada class correspondiente a un autor*/ }

.autores ul {
  border: solid 2px black;
  list-style: none; }

/*modelar el bloque clase "entrevista"*/
.entrevista {
  /*modelar la entrevista en video en autores.html*/
  border: solid 2px black;
  margin: 10px;
  padding: 10px; }
  .entrevista .entrevista__titulo {
    text-decoration: underline; }
  .entrevista .entrevista__video {
    border-color: black; }

/* estilo en el archivo nosotros.html */
/*variables*/
/*aplicar grid en la clase .nosotros*/
.nosotros {
  display: grid;
  grid-template-areas: "titulo titulo" "historia staff" "historia staff";
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 40% 40%;
  background-color: #a08ab4;
  width: 100%;
  height: 100%;
  /*modelar el título del archivo*/ }
  .nosotros .nosotros__titulo {
    grid-area: titulo;
    border: solid 2px black;
    padding-top: 7px;
    padding-bottom: 0px;
    background-color: #6ea4b9;
    margin: 5px 5px 5px 5px;
    height: 60%; }
  .nosotros .nosotros__titulo--estilo {
    text-decoration: underline;
    color: blue; }

/*para darle estilo y fuente Raleway de Google Fonts al párrafo de la página*/
.historia {
  grid-area: historia;
  border: solid 2px black;
  padding: 20px;
  text-align: justify;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  background-color: #98d2e4;
  margin: 0px 2.5px 5px 5px;
  height: 100%; }
  .historia .historia__titulo {
    /*características al h3 de la class historia*/
    text-decoration: underline;
    margin-left: 0; }
  .historia .historia__titulo--fuente {
    font-family: Arial, Helvetica, sans-serif; }

/*para darle estilo y fuente de Google Fonts a la sección "Nuestro staff"*/
.staff {
  grid-area: staff;
  border: solid 2px black;
  padding: 20px;
  line-height: 35px;
  background-color: #7e8fbd;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: double;
  margin: 0px 5px 5px 2.5px;
  height: 100%; }

/*características al h3 de la class staff*/
.staff h3 {
  margin-left: 15px;
  text-decoration: underline; }

/*estilo al archivo contacto.html*/
#formulario {
  /*para brindarle color al texto y al fondo del formulario en la página contacto.html*/
  color: black;
  background-color: grey; }

/*estilo al archivo publique.html*/
.publique {
  margin-bottom: 10px; }

/*estilo al archivo p404.html*/
.construccion {
  /*estilo al texto presente en la página*/
  justify-content: center;
  text-align: center; }
