/* estilo en autores.html */

/*variables*/
$margin-autores: 10px 10px 10px 10px;
$margin: 20px;
$bor-radius: 2%;
$border: solid 2px black;

/*para aplicar flexbox a autores.html*/
.autores{
    display: flex;
    flex-direction: column;
    flex-basis: 100px;

    /*para dar estilo a las imágenes y texto de cada autor*/
    .autores__bossi{ /*para modelar la clase .autores__bossi*/
        margin: $margin-autores;
        text-align: justify;
        padding-right: 10px;
    }

    .autores__bossi--foto{
        border-radius: $bor-radius;
    }

    .autores__gonzalez{ /*para modelar la clase .gonzalez*/
        margin: $margin-autores;
        text-align: justify;
        padding-right: 10px;
    }

    .autores__gonzalez--foto{
        border-radius: $bor-radius;
    }

    p{
        width:47%;
        color: black;
    }
}

/*más caracaterísticas en el bloque de la clase "autores"*/
.autores .btn{
    text-align: left;
    justify-content: left;
    background-color: royalblue;
    margin-left: $margin/2;
    margin-top: ($margin)-15;
}

/*para que los nombres de los autores en la lista de la sección autores.html sean de color negro*/
.autores li h3{
    color: black;

/*para brindarle bordes a cada class correspondiente a un autor*/}
.autores ul{
    border: $border;
    list-style: none;
}

/*modelar el bloque clase "entrevista"*/
.entrevista{  /*modelar la entrevista en video en autores.html*/
    border: $border;
    margin: 10px;
    padding: 10px;

    .entrevista__titulo{
        text-decoration: underline;
    }

    .entrevista__video{
        border-color: black;
    }
}