/* catalogo.html */

/*variables*/
$col-titulo: rgb(59, 57, 58);
$col-catalogo: rgb(209, 202, 172);

.tituloCatalogo{
    /*para que la etiqueta h3 de la sección catalogo.html sea de color rgb(59, 57, 58)*/
    color: $col-titulo;
}

.catalogo{
    /*para organizar el catálogo a partir de grid*/
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 100px 75px 100px 150px;
    grid-template-rows: 5px 25px 25px 75px;
    background-color: $col-catalogo;
    gap: 100px;
    align-content: center; 
    
    .catalogo__primeraLinea{
        /*primera línea del catálogo*/
        color: black;
        font-weight: bolder;
    }

    .catalogo__autores{
        list-style: none;
        justify-content: center;
        padding-left: 0px;
        padding-top: auto;   
    }
}