/*estilo de clases y etiquetas comunes en los archivos .html*/
@mixin espacio($ancho, $alto){
    width: $ancho;
    height: $alto;
}

/*estilo del body para todos los archivos .html*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dad6d6;
}

/*estilo de la clase "encabezado" para todos los archivos .html, incluyendo el menú y el logo*/
.encabezado{
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-image: url(../img/libross.jpg);
    .encabezado__logo{
        border-radius: 2%;
    }

    .encabezado__menu{
        @include espacio(40vw, 8vh);
        margin-top: 13px;
        padding-left: 0px;
        list-style: none;
        font-size: 0px;
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }   
}

/*más estilos para el menú del encabezado (header)*/
ul li>a{
    width: 10px;
    position: relative;
    padding: 15px;
    justify-content: left;
    color:whitesmoke;
    text-decoration:none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 15px;
}

/*para establecer el submenú en el header*/
nav ul ul{
    position:absolute;
    display: none;
    padding-left: 5px;
    margin-top: 5px;
}

/*características de los elementos del submenú*/
nav ul ul li{
    display:block;
    margin-top: 2px;
    margin-bottom: 5px;
}

/*display del submenú del encabezado*/
nav ul li:hover ul{
    display:block;
}

/*estilo a la etiqueta h1 para los archivos .html donde sea utilizados*/
h1{
    color:rgb(20, 95, 145);
    text-align: center;
    font-family: sans-serif;
    line-height: 10px;
    padding-top: 0px;
}

/*para darle color y modificar la fuente de la clase subtítulo*/
.subtitulo{
    color: rgb(65, 63, 63);
    font-family:'Times New Roman', Times, serif cursive;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2px;
}

/*estilo a la imagen de la etiqueta h1 en los archivos html donde sea utilizada*/
.imagen{
    display: block;
    margin:auto;
}

/*footer*/
#pie{
    background-image: linear-gradient(to right, black, grey);
    height: 40vh;
}
