/*estilo al archivo publique.html*/

.titulo-publique{
    margin-bottom: 20px;
}

h4{
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 10px;
}

.mb-3{
    margin-left: 10px;
    margin-right: 10px;
}