/*estilo en catalogo.html*/
@import "catalogo";

/*estilo en autores.html*/
@import "autores";

/*formato, estilo y grid en nosotros.html*/
@import "nosotros";

@mixin espacio($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin col-margin ($color, $marginleft){
    color: $color;
    margin-left: $marginleft;
}

/*estilo del body para todos los archivos .html*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dad6d6;
}

/*estilo de la clase "encabezado" para todos los .html*/
.encabezado{
    height: 50vh;
    background-image: url(/img/libross.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;

    .encabezado__logo{
        border-radius: 2%;
    }

    .encabezado__menu{
        /*para editar el formato del menú y aplicar flexbox*/
        @include espacio(40vw, 8vh);
        margin-top: 13px;
        padding-left: 0px;
        list-style: none;
        font-size: 0px;
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }   
}

/*más estilos para el menú del encabezado*/
ul li>a{
    /*para otorgar formato a las palabras del menú de navegación, estilo y color whitesmoke*/
    width: 10px;
    position: relative;
    padding: 15px;
    justify-content: left;
    color:whitesmoke;
    text-decoration:none;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 15px;
}

nav ul ul{
    /*para establecer el submenu*/
    position:absolute;
    display: none;
    padding-left: 5px;
    margin-top: 5px;
}

nav ul ul li{
    /*características de los elementos del submenú*/
    display:block;
    margin-top: 2px;
    margin-bottom: 5px;
}

nav ul li:hover ul{
    /*display del submenú del encabezado*/
    display:block;
}


/*estilo para el <main> de index.html*/

/*estilo al h1 y a la clase subtítutlo para los archivos .html donde sean utilizados*/
h1{
    color:rgb(20, 95, 145);
    text-align: center;
    font-family: sans-serif;
    line-height: 10px;
    padding-top: 0px;
}

.subtitulo{
    /*para darle color y modificar la fuente del subtítulo*/
    color: rgb(65, 63, 63);
    font-family:'Times New Roman', Times, serif cursive;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2px;
}

.imagen{
    /*formato a la imagen de h1 en index.html*/
    display: block;
    margin:auto;
}

.novedades{
    margin-top: 10px;
}

.carousel-control-prev-icon{     /*carousel en index.html*/
    background-color: black !important;
}

.carousel-control-next-icon{
    background-color: black;
}

/*estilo a la sección publicaciones en index.html*/
#seccionPublicaciones{
    margin-top: 20px;
}

.titulo{
    @include espacio(auto, 10vh);
    padding-top: 10px;
    font-family:inherit;
    text-decoration: underline;
    padding-left: 0%;
}

/*estilo al bloque .publicaciones*/
.publicaciones{

    width: 100%;

    .publicaciones__libroUno{
        color: white;
    }

    .publicaciones__libroUno--foto1{
        /*imagen del primer libro en #seccionPublicaciones*/
        @include espacio(15vw, 45vh);
        margin-left: 20px;
    }
    
    /*estilo a las fotos de los libros y sus nombres en la clase publicaciones*/
    .publicaciones__libroUno--nombre1{
        /*características al nombre del libro1*/
        @include col-margin(black, 60px);
    }

    .publicaciones__libroDos--foto2{
        @extend .publicaciones__libroUno--foto1;
    }

    .publicaciones__libroDos--nombre2{
        @include col-margin(black, 60px);
    }

    .publicaciones__libroTres--foto3{
        @extend .publicaciones__libroUno--foto1;
    }

    .publicaciones__libroTres--nombre3{
        @include col-margin(black, 60px);
    }

    .publicaciones__libroCuatro--foto4{
        @extend .publicaciones__libroUno--foto1;
    }

    .publicaciones__libroCuatro--nombre4{
        @include col-margin(black, 60px);
    }

    .publicaciones__libroQuinto--foto5{
        @extend .publicaciones__libroUno--foto1;
    }

    .publicaciones__libroQuinto--nombre5{
        @include col-margin(black, 60px);
    }

    .publicaciones__libroSexto--foto6{
        @extend .publicaciones__libroUno--foto1;
    }

    .publicaciones__libroSexto--nombre6{
        @include col-margin(black, 60px);
    }

}

/*estilo para resaltar libros nuevos en sección publicaciones de index-html*/
.badge{
    background-color: rgb(20, 95, 145) !important;
}

/*estilo a la clase "editor" de index.html*/
.editor{
    /*para modificar el margen superior del video perteneciente a index.html*/
    border: solid 3px black;
    margin: 10px 70px 10px 70px;
    padding: 20px;
    background-color: rgb(173, 165, 165);

    .editor__video{
        /*para centrar el texto de la class="video"*/
        @extend .titulo;
        text-align: center;
        padding: bottom 5px;
    }

    .editor__video--bordes{
        border-color: black;
    }
}   

/*footer*/
#pie{
    background-image: linear-gradient(to right, black, grey);
    height: 40vh;
}


/*estilo al archivo contacto.html*/
#formulario{
    /*para brindarle color al texto y al fondo del formulario en la página contacto.html*/
    color: black;
    background-color: grey;
}

.construccion{
    justify-content: center;
    text-align: center;
}